<div class="row">
<H2>Liste des employés</H2>

<div *ngIf = "employees">
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Prénom</th>
    <th scope="col">Nom</th>
    <th scope="col">email</th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let employee of employees">
      <th scope="row">{{ employee.id }}</th>
      <td>{{ employee.firstName }}</td>
      <td>{{ employee.lastName }}</td>
      <td>{{ employee.email }}</td>
      <td><app-update-employee [employeeToUpdate] = employee></app-update-employee></td>
      <td><app-delete-employee (removeFromTable)="removeFromList($event)"  [employeeToDelete]="employee"></app-delete-employee></td>
    </tr>
  </tbody>
</table>
</div>
</div>
<div class = "row">
  <div class = "col">
    <button type="button" class="btn btn-success">Ajouter un employé</button>
  </div>
</div>
